.products .title {
  padding: 40px 0;
  font-size: 40px;
  color: #007bff;
  text-align: center;
  font-weight: bold;
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products-list .card {
  width: 250px;
  height: 250px;
  margin: 0 40px;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.register .group-form
{
  display: flex;
  justify-content: center;
  width: 100%;
  padding:30px 15px;
 
}
.from-group
{
  margin-bottom:1rem;

}
.condi-ct a:hover
{
  cursor: pointer;
}
.group-form button
{
  background-color: #f15b67;
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    color: white;
    margin: 15px 0;
    border-radius: 25px;
    margin-top: 15px;
    border: 0px;
}
.login .group-form
{
  display: flex;
  justify-content: center;
  width: 100%;
  padding:30px 15px;
}